@model Wspolnota.Models.Announcement

<label class="float-right col-1">Ogłoszenie</label>
<h3 class="col-11">@Html.DisplayFor(model => model.Title)</h3>
<p class="col-11 mx-auto">@Html.DisplayFor(model => model.Content)</p>