@model Wspolnota.Models.Post

@{
    ViewBag.Title = "Tworzenie";
    var id = (int)ViewData["id"];
}

<h2>Tworzenie</h2>
   
<div class="form-horizontal">
    <h4>Wybierz rodzaj posta:</h4><hr />

    <div class="form-group">
        <div class="col-md-10">
            @*Html.ActionLink("Ogłoszenie", "CreateAnnouncement", new { communityId = commId })*@
            <a href="../CreateAnnouncement/@id" class="btn btn-primary btn-lg">
                Ogłoszenie
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <a href="../CreateBrochure/@id" class="btn btn-primary btn-lg">
                Reklama
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <a href="../CreateSurvey/@id" class="btn btn-primary btn-lg">
                Ankieta
            </a>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Powrót", "Index", new { id })
</div>
