@model Wspolnota.Models.Post

@{
    ViewBag.Title = "Tworzenie";
    var id = (int)ViewData["id"];
}

<h2>Tworzenie</h2>
   
<div class="form-horizontal">
    <h4>Wybierz rodzaj posta:</h4><hr />

    <div class="form-group" style="text-align:center;">
            @*Html.ActionLink("Ogłoszenie", "CreateAnnouncement", new { communityId = commId })*@
            <a href="../CreateAnnouncement/@id" class="btn btn-primary btn-lg" style="margin:10px">
                Ogłoszenie
            </a>
            <a href="../CreateBrochure/@id" class="btn btn-primary btn-lg" style="margin:10px">
                Reklama
            </a>
            <a href="../CreateSurvey/@id" class="btn btn-primary btn-lg" style="margin:10px">
                Ankieta
            </a>
    </div>

   
</div>

<div>
    @Html.ActionLink("Powrót", "Index", new { id })
</div>
