@model Wspolnota.Models.Survey

<div style="border: 1px solid lightgrey; padding:1%; margin:2%;">
    <h3>@Html.DisplayFor(s => s.Title)</h3>
    <p>
        @foreach(var answer in Model.Answers)
        {
            @Html.RadioButtonFor(model => model.Answers, answer.Content) @Html.LabelFor(model => model.Answers, answer.Content) 
            <br/>
        }
    </p>
</div>