@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<p>
    <div class="col font-weight-bold">Autorzy strony: <br/>  </div>
    <div class="col offset-1">Mateusz Kubicki - 210239 <br/> </div>
    <div class="col offset-1">Bartłomiej Wójcik - 210354 </div>
</p>
